/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");
}

.parrafo{
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.titulo{
    padding: 15px;
text-align: center;
font-size: 50px;
color: black;

}

.img{
width: 600px;
height: 600px;
}
